@-webkit-keyframes bubble {
  0% {
    bottom: 0px;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
    bottom: 275px;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    bottom: 550px;
  }
}
@-webkit-keyframes fillTequilla {
  0% {
    height: 0;
    bottom: 40px;
  }
  25% {
    height: 50px;
    bottom: 90px;
  }
  50% {
    height: 100px;
    bottom: 140px;
  }
  75% {
    height: 150px;
    bottom: 190px;
  }
  100% {
    height: 200px;
    bottom: 240px;
  }
}
@-webkit-keyframes strowFall {
  0% {
    top: -250px;
    left: -26px;
    transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    -webkit-transform: rotate(-18deg);
  }
  40% {
    top: 0px;
    left: -26px;
    transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    -webkit-transform: rotate(-24deg);
  }
  60% {
    top: -10px;
    left: -70px;
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
  }
  80% {
    top: -10px;
    left: 0px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    top: 0px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}
/*
 * Fonts
 */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/flaticon.eot");
  src: url("../fonts/flaticon/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/flaticon/flaticon.woff") format("woff"), url("../fonts/flaticon/flaticon.ttf") format("truetype"), url("../fonts/flaticon/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}
.flaticon-github7:before {
  content: "\e000";
}
html,
body {
  height: 100%;
}
/*
 * Helpers
 */
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
/*
 * First page
 */
.featured {
  background: #f39c12;
  margin: 0 0 60px 0;
  padding: 35px 0 0 0;
}
.featured .btn-perso {
  background: #e67e22;
}
.featured .btn-perso:hover {
  background: #e98b39;
}
.featured h1 {
  font-family: 'Lobster Two', cursive;
  font-weight: lighter;
  font-style: italic;
  font-size: 70px;
  line-height: 1;
  color: #f9ee00;
  text-shadow: 2px 4px 5px rgba(85, 116, 149, 0.3);
}
.featured h1 small {
  text-shadow: none;
  font-family: 'Lato';
  font-style: normal;
  font-size: 22px;
  color: #fff;
}
.featured a {
  margin: 15px 0 10px 0;
  color: #fff;
}
.featured p {
  font-weight: lighter;
}
.featured .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  bottom: 0px;
  opacity: 0;
}
.featured .bubble1 {
  left: 5%;
  -webkit-animation-delay: 2400ms;
  -webkit-animation-duration: 1400ms;
}
.featured .bubble2 {
  left: 12.4%;
  -webkit-animation-delay: 2100ms;
  -webkit-animation-duration: 1500ms;
}
.featured .bubble3 {
  left: 22.5%;
  -webkit-animation-delay: 3600ms;
  -webkit-animation-duration: 1800ms;
}
.featured .bubble4 {
  left: 40.4%;
  -webkit-animation-delay: 2500ms;
  -webkit-animation-duration: 1100ms;
}
.featured .bubble5 {
  left: 50%;
  -webkit-animation-delay: 2700ms;
  -webkit-animation-duration: 1200ms;
}
.featured .bubble6 {
  left: 70%;
  -webkit-animation-delay: 2400ms;
  -webkit-animation-duration: 1400ms;
}
.featured .bubble7 {
  left: 83%;
  -webkit-animation-delay: 2100ms;
  -webkit-animation-duration: 1100ms;
}
.featured .bubble8 {
  left: 90%;
  -webkit-animation-delay: 2600ms;
  -webkit-animation-duration: 1300ms;
}
.featured .tequilla-sunrise {
  margin: 10px auto 0 auto;
  width: 500px;
  height: 250px;
}
.featured .tequilla-sunrise .tequilla-glass {
  margin: auto;
  width: 100px;
  height: 250px;
  background: #ffffff;
  opacity: 0.4;
  border-radius: 5px 5px 10px 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
.featured .tequilla-sunrise .tequilla {
  margin: auto;
  position: relative;
  bottom: 240px;
  width: 90px;
  height: 200px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 0, 0, 0.8)), to(rgba(241, 196, 15, 0.8)));
  border-radius: 5px 5px 10px 10px;
  box-shadow: inset 2px -2px 10px rgba(0, 0, 0, 0.08);
  -webkit-animation-name: fillTequilla;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0ms;
  -webkit-animation-duration: 1500ms;
}
.featured .tequilla-sunrise .strow {
  position: relative;
  top: 0px;
  -webkit-animation-name: strowFall;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0ms;
  -webkit-animation-duration: 1000ms;
}
.featured .tequilla-sunrise .strow .strow-top {
  background: rgba(0, 0, 0, 0.75);
  position: relative;
  top: -20px;
  left: 280px;
  width: 65px;
  height: 7px;
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  /* IE 9 */
  -webkit-transform: rotate(-20deg);
  /* Opera, Chrome, and Safari */
}
.featured .tequilla-sunrise .strow .strow-bottom {
  background: rgba(0, 0, 0, 0.75);
  position: relative;
  top: 98px;
  left: 143px;
  width: 215px;
  height: 7px;
  transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  /* IE 9 */
  -webkit-transform: rotate(108deg);
  /* Opera, Chrome, and Safari */
}
.themes {
  margin: 0 0 50px 0;
}
.themes h4 {
  color: #3498db;
  font-family: 'Pacifico', cursive;
  font-size: 28pt;
  font-weight: lighter;
}
.themes a {
  color: #3498db;
  transition: all 0.2 ease-in;
}
.themes a:visited {
  color: #3498db;
}
.themes a:hover {
  color: #196090;
}
.themes p {
  font-weight: lighter;
}
/*
 * Page about
 */
.about {
  min-height: 100%;
  background: #00E0CB;
}
.about h2 {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Lobster Two', cursive;
  font-weight: lighter;
  font-style: italic;
}
.about p {
  text-align: justify;
}
/*
 * Footer
 */
.foot h3 {
  font-size: 10pt;
}
.foot p {
  font-size: 10pt;
}
.foot i:before {
  font-size: 40px;
}
.foot a {
  color: #00E0CB;
  transition: all 300ms ease-out;
}
.foot a:hover {
  color: #00c1af;
}
.foot img {
  width: 100px;
  border: 0;
  margin: auto;
}
