/*
 * Variables
 */
@ultralight-grey: #fbfbfb;
@light-grey: rgb(153, 153 ,153);
@carrot: #E67E22;
@orange: #F39C12;
@yellow: #f9ee00;
@pumpkin: #D35400;
@turquoise: #1ABC9C;
@blue-green: #6dc5c8;
@peter-river: #3498DB;

@bubble-size: 20px;
@bubble-pos-bottom: 0px;
@bubble-pos-top: 550px;
@bubble-color: #FFFFFF;

/*
 * Helpers
 */
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}

/*
 * First page
 */
.featured {
    // Header
    background: @orange;
    margin: 0 0 60px 0;
    padding: 35px 0 0 0;

    .btn-perso {
        background: @carrot;

        &:hover {
            background: lighten(@carrot, 5%)
        }
    }

    h1 {
        font-family: 'Lobster Two', cursive;
        font-weight: lighter;
        font-style: italic;

        font-size: 70px;
        line-height: 1;
        color: @yellow;
        text-shadow: 2px 4px 5px rgba(85, 116, 149, .3);

        small {
            text-shadow: none;
            font-family: 'Lato';
            font-style: normal;
            font-size: 22px;
            color: #fff;
        }
    }

    a {
        margin: 15px 0 10px 0;
        color: #fff;
    }

    p {
        font-weight: lighter;
    }

    // Bubbles
    .bubble {
        -webkit-animation-name: bubble;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        float: left;
        width: @bubble-size;
        height: @bubble-size;
        border-radius: @bubble-size/2;
        background: @bubble-color;
        position: relative;
        bottom: @bubble-pos-bottom;
        opacity: 0;
    }

    .bubble1 {
        left: 5%;
        -webkit-animation-delay: 1000ms;
        -webkit-animation-duration: 1400ms;
    }

    .bubble2 {
        left: 12.4%;
        -webkit-animation-delay: 700ms;
        -webkit-animation-duration: 1500ms;
    }

    .bubble3 {
        left: 22.5%;
        -webkit-animation-delay: 1200ms;
        -webkit-animation-duration: 1800ms;
    }

    .bubble4 {
        left: 40.4%;
        -webkit-animation-delay: 1100ms;
        -webkit-animation-duration: 1100ms;
    }

    .bubble5 {
        left: 50%;
        -webkit-animation-delay: 1300ms;
        -webkit-animation-duration: 1200ms;
    }
    .bubble6 {
        left: 70%;
        -webkit-animation-delay: 1000ms;
        -webkit-animation-duration: 1400ms;
    }

    .bubble7 {
        left: 83%;
        -webkit-animation-delay: 700ms;
        -webkit-animation-duration: 1100ms;
    }

    .bubble8 {
        left: 90%;
        -webkit-animation-delay: 1200ms;
        -webkit-animation-duration: 1300ms;
    }
}

// Three major points
.themes {
    margin: 0 0 50px 0;

    h4 {
        color: @peter-river;
        font-family: 'Pacifico', cursive;
        font-size: 28pt;
        font-weight: lighter;
    }
    a {
        color: @peter-river;
        transition: all .2 ease-in;

        &:visited {
            color: @peter-river;
        }
        &:hover {
            color: darken(@peter-river, 20%);
        }
    }
    p {
        font-weight: lighter;
    }
}

/*
 * Page about
 */
.about {
    h2 {
        text-align: center;
        font-family: 'Lobster Two', cursive;
        font-weight: lighter;
        font-style: italic;
    }
    p {
        text-align: justify;
        font-weight: lighter;
    }
}

/*
 * Animations
 */
@-webkit-keyframes bubble {
    0% { 
        bottom: @bubble-pos-bottom; 
    }

    25% { 
        opacity: 0.2; 
    }

    50% {
        opacity: 0.4;
        bottom: @bubble-pos-top/2;
    }

    75% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
        bottom: @bubble-pos-top;
    }
}