<div class="contener-about">
	<nav class="nav">
		<a href="#/home" class="back"><i class="flaticon-arrow72"></i></a>
	</nav>

    <h1>About the project</h1>

    <div class="content">
            
        <div class="sub-content video">
           <iframe width="640" height="360" src="//www.youtube.com/embed/dh7OlOIQ6Uk" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="sub-content">
            <h1>The blender</h1>
            <h2>The philosophy</h2>
            <p>
                The project itself was designed to be modular, with openhardware and software let anyone improving the system and making the machine. This possibility let you:
                <ul>
                    <li>Clone The blender with a lasercutter, 3D printer and some electronic materials.</li>
                    <li>Fork <a href="https://github.com/vrap/the-blender">The blender</a>, to improve it and propose new feature for the community.</li>
                    <li>Create or join a <a href="#/doc/en/community">community</a> of cocktail lover and share your creations with your friends.</li>
                    <li>Expand your Blender with new module (also printable and lasercuttable).</li>
                </ul>
            </p>
            <p>
                The simplicity aspect of the project has been in our mind throughout the duration of the project and this is why we have documented all parts in this wiki. Here you can found some informations about:
                <ul>
                    <li>Materials requirements</li>
                    <li>Hardware plans</li>
                    <li>Software explanations</li>
                    <li>And a lot more stuff that we think it's necessary for you</li>
                </ul>
            </p>
            <p>
                If you think there is a hole about some informations you can improve it by making a pull request or let us know by adding an issue to the <a href="#/doc/en/start">documentation repository</a>.
            </p>
            <p>
                And last but not least, the lowcost aspect was a constraint of our project since we have not a big budget, think that existing cocktail dispenser are too expensive at this time and because we think that it's more fun to let anyone to make his Blender by themselves. In order to respect this constraint, we had to search some solutions to make our valve with a servo-motor (180° for a reducted price), using some reusable elements and crafting all we can with our hands and equipments which can be found in Fablab (like the <a href="http://www.faclab.org">faclab</a> of our university).
            </p>
            <p>
                <b>Hope you enjoy this project, feel free to comment and improve it.</b>
            </p>
        </div>

        <div class="sub-content">
            <h1>The context</h1>
            <h2>4 Developers. 4 Weeks. 1 Machine.</h2>
            <p>
                The project started during a workshop about the Internet of Things in May 2014.<br>
                In a first time, we experimented developping with Arduino. The hard part was the electronic one. We are not electronic egineers but we learned a lot with the greatful help of the workshop speaker, <a href="https://twitter.com/ClementQuinson" target="_blank">Clement Quinson</a>. Then, we started to use the FacLab material as 3D printers, laser cuters, etc. This time was the begining of the hardware conception.<br>
                In a second time, we designed the web application that allow you to control your Blender.<br>
                After four weeks of hard work, the Blender and its application are availables !
            </p>
            <p>
                <b>Hope you enjoy this project, feel free to comment and improve it.</b>
            </p>
        </div>

        <div class="sub-content">
            <h1>The team</h1>
            <p>
                <ul class="dream-team">
                    <li>
                        <div class="first-letter val">V</div>
                        <a href="https://twitter.com/vdaguenet" target="_blank">Valentin</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam itaque maiores neque nobis numquam officia pariatur temporibus, veniam? Eos odit, ut. Consectetur harum minus mollitia nemo nulla numquam rem. Rem.
                    </li>
                    <li>
                        <div class="first-letter rom">R</div>
                        <a href="http://romainesilva.fr/" target="_blank">Romain</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate provident qui sit tenetur. Asperiores blanditiis debitis ipsum iste labore maiores nisi non, odit quaerat, quos reiciendis sint sit veniam voluptatum.
                    </li>
                    <li>
                        <div class="first-letter aur">A</div>
                        <a href="http://aureliendumont.fr/" target="_blank">Aurélien</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut culpa, laborum magnam maiores minus nulla officiis unde voluptatum. Ab amet animi cumque cupiditate delectus eos error natus praesentium veritatis.
                    </li>
                    <li>
                        <div class="first-letter pie">P</div>
                        <a href="https://github.com/FPierre" target="_blank">Pierre</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore eligendi excepturi laudantium obcaecati odio officia quia quos temporibus. Excepturi facilis fugiat ipsa quibusdam quo quos rem saepe veritatis voluptatum!
                    </li>
                </ul>
            </p>
            <p>
                <b>  Find the VRAP Team also on <a href="https://github.com/orgs/vrap" target="_blank">GitHub!</a></b>
            </p>
        </div>
</div>


