<div class="contener-community">
	<nav class="nav">
		<a href="#/home" class="back"><i class="flaticon-arrow72"></i></a>
	</nav>
	<div class="content">

		<h1>The community</h1>



		<section class="header">
            <p class="about">
                You can create an account to connect to your application on your smartphone.
                You shall create, drink, share cocktails with a large community of cocktail drinkers!
            </p>

            <div class="about panel panel-register">

                <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

                    <!-- NAME -->
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name" ng-model="user.name" required>
                    </div>

                    <!-- EMAIL -->
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="user.email" required>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" required>
                    </div>

                    <!-- Password Validate -->
                    <div class="form-group">
                        <input type="password" name="password_confirm" class="form-control" placeholder="Confirm password" ng-model="user.confPassword" required>
                    </div>

                    <!-- SUBMIT BUTTON -->
                    <button type="submit" class="btn btn-community">Join the community</button>
                </form>
            </div>
            <div class="about">
                <div class="circle-container">
                    <div class="circle">
                        <span class="number">250</span><br/>cocktails
                    </div>
                </div>

                <div class="circle-container">
                    <div class="circle circle-2">
                        <span class="number">94</span><br/>drinkers
                    </div>
                </div>

                <div class="circle-container">
                    <div class="circle circle-3">
                        <span class="number">462</span><br/>ingredients
                    </div>
                </div>
            </div>

		</section>
	</div>
</div>
