<section class="left contener-home">
    <a href="#/doc/en/start" class="btn btn-master">Documentation</a>
</section>
<section class="middle contener-home">
    <section class="section-about">
        <div class="logo"></div>
        <h1>The blender</h1>
        <div class="sub-title">
            Cocktailed with machine.
        </div>
        <a href="#/about" class="btn btn-primary">About</a>
    </section>
    <section class="featured">
            <div class="bubble bubble1"></div>
            <div class="bubble bubble2"></div>
            <div class="bubble bubble3"></div>
            <div class="bubble bubble4"></div>
            <div class="bubble bubble5"></div>
            <div class="bubble bubble6"></div>
            <div class="bubble bubble7"></div>
            <div class="bubble bubble8"></div>
    </section>
</section>
<section class="right contener-home">
    <a href="#/community" class="btn btn-community">Community</a>
</section>